
.form {
    display: flex;
    width: 320px;
    height: 330px;
    background-color: #edf1f2;
    margin: auto;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 162px;
    transition: ease-in-out .5s;
    &__control {
        border: gray;
    }
    &__body {
        display: flex;
    }
    &__submit-default {
        width: 100%;
    }
}